<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Enter Username</h1>
    <form method="POST" action="/set_username">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Start Rating</button>
    </form>

    <h2>Instructions</h2>
    <p>You will be shown images of faces with varying facial expressions.</p>
        <li>You are asked to rate the smiles of people on a scale of 1 to 5, from sad (1) to happy (5).</li>
        <li>Submitting a rating will lead you to the next image.</li>
        <li>There are 400 images in total, a progress bar helps you to see where you are.</li>
        <li>You can skip / return to images by using the Next and Previous buttons.</li>
        <li>If you have already rated an image, submitting a new rating will rewrite the old one.</li>
        <li>You can always reset your session. BEWARE: resetting will restart the whole session and delete your progress.</li>
    
    <br><h2>Project Description</h2>
    <p>This is a webpage created to facilitate a homework in Cognitive Modelling at DTU. This is Part 1 of a two-part project. First, I am asked to gather ratings of 
        facial expressions on a dataset. I will use these ratings to train a model with which I can generate synthetic facial expressions. 
        In Part 2, I will ask participants to rate the synthetic images to then measure their cognitive biases.</p>
        
    <br><h2>Disclaimer</h2>
    <p>This project is for educational purposes only. The name of all participants will be anonimized and no personal data will be stored.</p>
    <p>The images used in this project are from the UTKFace Dataset (https://susanqq.github.io/UTKFace/).</p>
</body>
</html>
